
  .login__card a {
    text-decoration: none;
  }
  
  .login__card {
    width: min(400px, 100%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom:3em;
    border-radius: 10px;
    background-color: #ffff;
    padding: 1.8rem;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
  }
  
  .login__card .title {
    text-align: center;
    font-weight: bold;
    margin: 0.5em;
  }
  .login__card .link {
    text-align: center;
    margin-bottom: 1em;
    text-decoration: none;
  }
  .login__card label {
    margin-top: 1em;
  }
  .login__card #submit {
    margin: 1em 0;
  }
  
  .login__card input[type="text"],
  .login__card input[type="password"] {
    padding: 15px 20px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  