@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

@mixin bg-im($img-url) {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url($img-url);
  background-size: cover;
  background-position: center;
}

.background-image {
  @include bg-im("./employer-homepage-bg.jpg");
  flex: 100%;
}

@include media-breakpoint-down(md) {
  .background-image {
    @include bg-im("./employer-homepage-bg-vertical.jpg");
  }
}

.fit-content {
  width: fit-content;
}
